# Title

### Description

code snippet for data upload:

In [1]:
# The code was removed by Watson Studio for sharing.

,Store,Destination Latitude,Destination Longitude,Origin Latitude,Origin Longitude
0,Yucaipa,34.0336,-117.0431,34.0544,-118.2439
1,Thousand Oaks,34.1706,-118.8376,34.0544,-118.2439
2,Temecula,33.4946,-117.1474,34.0544,-118.2439
3,Santa Barbara,34.4098,-119.6970,34.0544,-118.2439
4,Santa Ana,33.7495,-117.8732,34.0544,-118.2439
5,San Gabriel,34.0991,-118.1086,34.0544,-118.2439
6,San Clemente,33.4270,-117.6124,34.0544,-118.2439
7,San Bernardino,34.1083,-117.2898,34.0544,-118.2439
8,Redondo Beach,33.8456,-118.3887,34.0544,-118.2439
9,Redlands,34.0557,-117.1889,34.0544,-118.2439